<%- include('partials/header.ejs', {user:"admin"}) %>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>    
<div id="app" class="table-wrapper">
       <% if (remedios.length > 0) { %>
            <table id="admTable" class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nome do remedio</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Data</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Vagas</th>  
                    </tr>
                </thead>
                <tbody class="remedios"> 
                    <% for(let i=0; i < remedios.length; i++) { %>
                        <tr class="remedio">
                            <td><%= remedios[i].id %></td>
                            <td><%= remedios[i].nome %></td>
                            <td><%= remedios[i].laboratorio %></td>
                            <td><%= remedios[i].quant_mg %></td>
                            <td><%= remedios[i].preco %></td>
                            <td>
                                <a href="/edita/<%= remedios[i].id %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Editar</a>
                                <% console.log(remedios[i].id) %>
                                <a href="/deleta/<%= remedios[i].id %>" class="btn btn-sm btn-danger">Deletar</a>
                            </td> 
                        </tr>   
                    <% } %>  
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">Não há remedios listados. Clique em <a href="/add">Cadastrar remedio</a> para cadastrar um remedio.</p>
        <% } %>
    </div>

      <!-- Configuração do JS no Projeto-->
	  <!-- <script src="src/index.js"></script> -->
	    <!-- Configuração do JS, JQuery e Popper do BootStrap no Projeto-->
	  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
